.standardButton {
  height: 3rem;
  width: 10rem;
  margin: 1.25rem 4rem;
  background-color: var(--deepblue-50);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid var(--deepblue-1k);
  border-radius: 0.5rem;
  
  color: var(--deepblue-900);
  font-weight: bold;
  font-size: 1.125rem;
  
  transition: all 0.3s;

  &:hover {
    filter: brightness(0.8);
    border: 3px solid var(--cyan-400)
  }
  
  &:disabled {
    filter: brightness(0.5);
    cursor: not-allowed;
  }
}

.optionsButtonContainer {
  height: 3rem;
  width: 10rem;
  margin: 1.25rem 4rem;
  // background-color: var(--deepblue-50);

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    height: 100%;
    width: 100%;
  }


}

.arrowContainer {
  background-color: red;
  height: 100%;
  width: 2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    background-color: red;
  }
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

.options {
  position: absolute;
  left: .25rem;
  bottom: -60%;

  width: 9.5rem;
  height: 2.5rem;
  background-color: yellow;
  
  opacity: 0;
  pointer-events: none;

  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.activeSelection {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
