* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  
  --gray-100: #e1e1e4;
  --gray-300: #a8a8b3;
  --gray-500: #858590;
  --gray-700: #323238;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;
  --gray-950: #101012;
  
  --beige-200: #ECDED5;
  --beige-150: #F2E8E2;
  --beige-100: #F9F4F1;

  --deepblue-50: #e2e3e9;
  --deepblue-100: #b7baca;
  --deepblue-200: #898ea6;
  --deepblue-300: #5f6483;
  --deepblue-400: #42476c;
  --deepblue-500: #252b57;
  --deepblue-600: #202650;
  --deepblue-700: #191e47;
  --deepblue-800: #12163b;
  --deepblue-900: #090025;
  --deepblue-950: #050014;
  --deepblue-1k: #090010;

  --cyan-50: #dbfef5;
  --cyan-100: #a5fae2;
  --cyan-200: #74f4d1;
  --cyan-300: #4aeabf;
  --cyan-400: #2ae0b1;
  --cyan-500: #21d7a4;
  --cyan-600: #1bc795;
  --cyan-700: #15b484;
  --cyan-800: #10a375;
  --cyan-900: #118458;

  --red-50: #e9dee0;
  --red-100: #ddaeaf;
  --red-200: #ca777c;
  --red-300: #b83d4d;
  --red-400: #ae0030;
  --red-500: #a20018;
  --red-600: #9a0015;
  --red-700: #8f0011;
  --red-800: #810008;
  --red-900: #690000;

  --drbuttonbackground: #191f21;
  --drbuttonborder: #383d3f;

  --drfullbg: #0e0f10;

}

body {
  background-color: var(--deepblue-1k);
  color: var(--red-50);
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
  letter-spacing: 0.038rem;

}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}