.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin: 0 auto 0.5rem 0;
    font-size: 1.25rem;
    font-weight: bold;
  }

  input {
    height: 1.5rem;
    width: 4.5rem;
    resize: none;

    background: transparent;
    border-radius: 8px;
    border: 1px solid var(--gray-100);
    
    color: var(--gray-100);

    padding: 0.25rem 0.5rem;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
}
