.headerContainer {
  height: 2.5rem;
  margin-bottom: 2rem;
  // background: var(--deepblue-950);
  // border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  a {
    position: absolute;
    left: 60px;
    
    transition: filter 0.3s;
    
    &:hover {
      filter: brightness(0.8);
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: lighter;
  }
}