.standardButton {
  height: 3rem;
  width: 10rem;
  margin: 1.5rem 4rem;
  background-color: var(--deepblue-50);
  box-sizing: content-box;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px solid var(--deepblue-800);
  border-radius: 0.5rem;
  
  color: var(--deepblue-900);
  font-weight: bold;
  font-size: 1.125rem;
  
  transition: all 0.3s;

  &:hover {
    filter: brightness(1.1);
    border: 3px solid var(--deepblue-50)
  }
}